* {
  margin: 0;
  padidng: 0;
}
/**================================================================
*! Navbar Starts Here
**==================================================================*/
nav {
  background-color: #39424e;
}

.nav-link {
  text-transform: uppercase;
  color: #b7c9cc !important;
  transition-delay: 0.01s;
  font-weight: 600;
}
.nav-link:hover {
  color: white !important;
}

.active {
  border-bottom: 4px solid #1ba94c;
}
/**================================================================
*? Navbar Ends Here
**==================================================================*/
/*todo ////////////////////////////////////////////////////////////*/
/**================================================================
*todo Outside box on focus removed in bootstrap
**==================================================================*/
.btn:focus {
  outline: none;
  box-shadow: none;
}
a:focus {
  outline: none;
  box-shadow: none;
}

/**================================================================
*todo Button Common changes Ends Here
**==================================================================*/
.navbar-nav > li {
  float: left;
  position: relative;
}
.navbar-light .navbar-nav .active a::after {
  border-bottom: 5px solid #5bc0eb;
  bottom: -10px;
  content: " ";
  left: 0;
  position: absolute;
  right: 0;
}
